/* Preset */
:root {
/* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #fe918d;
    --color-dark-pink: #ff6863;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;

/* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

/* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

/* Size */
    --size-border-radius: 5px;

/* Annimation */
        --animation-duration: 300ms;
}
/* Universal Tags */
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    cursor: default;

}

a{
    text-decoration: none;
    color: var(--color-light-white);
}

ul {
    list-style: none;
    padding-left: 0;
}
button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
  /* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* Navbar */
#navbar {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    transition: all var(--animation-duration) ease-in-out;
    
}
#navbar.navbar--dark {
    background-color: #29336d;
    padding: 5px;
    z-index: 1;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__menu{
    display: flex;
}


.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: var(--size-border-radius);
}


.navbar__menu__item:hover {
    border: var(--color-white);
    border-radius: var(--size-border-radius);
    background-color: darkgrey;
    
}

.navbar__toggle-btn {
    position: absolute;
    right: 32px;
    font-size: 26px;
    color: var(--color-white);
    display: none;
}

/* Home */
#home{
    background: url("./imgs/home-background.png") center/cover no-repeat;
    padding: 40px;
    padding-top: 140px;
    text-align: center;
}
.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid white;
}

.home__title,
.home__description{
color: var(--color-light-white);
}

.home__contact{
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
}
/* Section common */
.section {
    padding: 50px;
    text-align: center;
    margin: auto;
}
.section__container {
    max-width: 1200px;
    /* border:1px solid; */
    margin: auto;
}
/* About */
.about__box{
    display: flex;
    justify-content: space-around;
}
.about__majors {
    margin: 80px 0;
    
}
.major__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    border: 1px solid ;
    border-radius: 50%;
    color: var(--color-blue)
    
}
.major__icon i {
    transition: var(--animation-duration) ease;
}
.major__icon:hover i {
    color: var(--color-grey);
    transform: rotate(-30deg) scale(1.1);
}

.major__title,.major__discription {
    color: var(--color-dark-grey)
}


/* Skill */
#skills {
    background-color:lightgray;
}
.skill{
    margin-bottom: 20px;
}

.skillset {
    display: flex;
    color: var(--color-light-white);
    background-color: rgba(119, 136, 153, 0.267);
    margin: 20px 0;
}
.skillset__title{
    color: white;
}
.skill_description {
    display: flex;
    justify-content: space-between;
}
.skill__bar {
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}
.skill__value {
    
    height: 3px;
    background-color: var(--color-orange);
}
.skillset__left {
    flex-basis: 60%;
    background-color: var(--color-dark-grey);
    padding: 20px 40px;
}
.skillset__right {
    flex-basis: 40%;
    background-color: var(--color-light-grey);
}

.tools__list {
    padding: 20px;
}

/* Work */

.work__categories{
    margin: 40px;
}
.category__btn {
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 45px;
}
.category__btn.selected, .category__btn:hover{
background-color: var(--color-light-grey);
color: var(--color-white);
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
    opacity: 1;
    top: 0;
}
.category__count {
background-color: var(--color-orange);
border-radius: 50%;
color: var(--color-white);
width: 24px;
height: 24px;
line-height: 24px;
display: inline-block;
position: relative;
top: -20px;
left: 4px;
opacity: 0.0;
transition: all var(--animation-duration) easy-in;
}
.work__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    opacity: 1;
    transition: all var(--animation-duration) ease-out;
    
}
.work__projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(40px);
    }

.work__projects__holder{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    justify-content: center;
    margin: 2px;
}

.project.invisible {
    display: none;
}
.project__img{
    max-width: 100%;
    max-height: 100%;
}
.project_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(15px);
    transition: all var(--animation-duration)ease-in;
}

.project:hover .project_description {
    opacity: 0.7;
    transform: translateY(0px);
}

.project_description h3 {
    color: white;
    top: 0;
    left: 0;
}

.project_description h3:after {
    content: '';
    display: block;
    position: relative;
    
    left: 50%;
    width: 25px;
    height: 2px;
    margin-left: -12px;
    margin-top: 8px;
    background-color: var(--color-dark-white);
}

/* Condtact */

#contact {
    background-color: #29336d;
}
.contact__title,
.contact__email {
    color: var(--color-white);
}

.contact__title{
    margin: 30px 0;
}

.contact__links {
    font-size: var(--font-large);
    margin: 25px 0;
    transition: all var(--animation-duration) ease-in;
}
.contact__links i:hover {
    transform: scale(1.1);
    color: var(--color-dark-white);
}

/* Arrow */
.arrow-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 55px;
    color: royalblue;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
}
.arrow-up.visible {
    opacity: 1;
    pointer-events: auto;
    
}
/* For under 768px screen size */
@media screen and (max-width: 768px) { 
    .navbar__toggle-btn{
        display: block;
    }
    #navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__menu__cont{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .navbar__menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        display: none;
        
    }

    .navbar__menu.open {
        display: block;
        background-color: transparent;
        
    }


    .about__majors {
        flex-direction: column;
    }
    .skillset {
        flex-direction: column;
    }
    .project{
        flex-grow: 1;
    }
}